.isloading-container {
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.white-space-nowrap {
    white-space: nowrap;
}
.color-grey {
    color: grey;
}