.record-main-container {
    width: 80%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-content: start;
}

.record-container {
    margin-left: 15px;
    margin-top: 15px;
    background: green;
    width: 22%;
    border-radius: 10px;
    color: white;
    padding: 30px 20px;
    height: fit-content;
    font-weight: 700;
}
.record-value {
    font-size: large;
}